export("ideanet")
importFrom("grDevices", "chull")
importFrom("stats", "complete.cases", "cor", "cutree", "dist", "line", "na.omit", "quantile")
import(ggplot2)
importFrom("plyr","rbind.fill","ddply")
import(dplyr)
importFrom("stringr", "str_remove")
importFrom("smacof", "smacofSym")
importFrom("cluster", "silhouette","agnes")
import(officer)
importFrom("tcltk2", "tk2message", "tk2listbox")
import(ggdendro)
import(openxlsx)
import(reshape2)
import(flextable)
importFrom("scales","rescale")
import(rvg)
